/* вторичный цвет текста #212121 */

/* основной цвет текста цвет текста #757575 */

/* цвет интерактивных кнопок #2196F3 */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
:root {
  --secondary-color-text: #212121;
  --primary-color-text: #757575;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --button-color: #2196f3;
}
body {
  color: var(--primary-color-text);
  background-color: var(--primary-bgc);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
/* Шапка сайта */
/* Оформление логотипа */
.logo {
  color: var(--secondary-color-text);
}
/* логотип шапки и подвала */
.logo,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--button-color);
}
/* Оформление навигации сайта */
.site-nave .link {
  color: var(--secondary-color-text);
}
.site-nave .link,
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nave .link.current {
  color: var(--button-color);
}
.site-nave .link:hover,
.site-nave .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--button-color);
}
.contacts .link {
  color: var(--primary-color-text);
}
/* Стили для index.html*/
/* Оформление основной страницы */
.hero {
  background-color: var(--secondary-bgc);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка */
.hero-button {
  color: #ffffff;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Секции */
.section-title {
  color: var(--secondary-color-text);
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Премущества */
.feature .feature-title {
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Оформление деятельности */

/* Команда */
.section.teams {
  background-color: #f5f4fa;
}
.team .title {
  color: var(--secondary-color-text);
  font-weight: 500;
}
.team .item {
  background-color: var(--primary-bgc);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team .title,
.team .text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Оформление подвала */
.footer {
  background-color: var(--secondary-bgc);
}
.logo-footer {
  color: var(--primary-bgc);
}
.logo-footer > span {
  color: var(--button-color);
}
.adress .text {
  color: var(--primary-bgc);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress .link:hover,
.adress .link:focus {
  color: var(--button-color);
}

/* Оформление стилей портфолио */
